<!doctype html>
<html lang="en-US">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <%# <link rel="stylesheet" href="/stylesheets/whitespace-reset.css"> %>
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
